header {
  height: 500px;
  width: 100%;
  margin-top: -100px;
  background-image: linear-gradient(
      rgba($site-yellow, 0.4),
      rgba($site-yellow, 0.4)
    ),
    url(../images/home-hero.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  .header-title {
    text-align: center;
    color: white;
    font-family: "PTSerif";
    font-size: 25px;
    padding-top: 155px;
  }

  .sub-header {
    color: red;
    text-align: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: italic;
    font-weight: lighter;
  }

  .header-desc {
    color: white;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-style: italic;
    text-align: center;
    padding-top: 46px;
  }

  .read-more {
    background-color: $site-pink;
    width: 121px;
    height: 40px;
    color: white;
    text-align: center;
    line-height: 40px;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 15px;
    margin-top: 45px;
    a {
      text-decoration: none;
      color: white;
    }
  }
}
