quote-block {
  width: 100%;
  height: 300px;
  //background-color: aquamarine;
  display: flex;
  flex-direction: column;
  p {
    color: $site-yellow;
    width: 789px;
    height: 90px;
    margin: 0 auto;
    margin-top: 77px;
  }
  .name {
    color: $site-pink;
    margin: 0 auto;
    margin-top: 19px;
    font-family: "PTSerif";
    margin-left: 365px;
  }
  .title {
    font-size: 10px;
    font-family: "PTSerif";
    color: gray;
    margin-left: 365px;
  }
}
