footer {
  background-color: $site-pink;
  height: 455px;
  width: 100%;
  display: flex;
  flex-direction: column;
  img {
    margin: 0 auto;
    width: 92px;
    height: 42px;
    margin-top: 36px;
  }
  .address-block {
    color: white;
    margin: 0 auto;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 16px;
    text-align: center;
    margin-top: 44px;
  }
  .email-block {
    width: 696px;
    height: 60px;
    //background-color: aqua;
    margin: 0 auto;
    margin-top: 46px;
    display: flex;
    #email-entry {
      width: 529px;
      height: 60px;
      background-color: #f56b88;
      border: none;
      padding-left: 5px;
    }
    button {
      width: 167px;
      height: 60px;
      font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
      font-size: 16px;
      color: red;
      border: none;
    }
  }
  .icon-row {
    //background-color: orange;
    width: 200px;
    height: 30px;
    display: flex;
    margin: 0 auto;
    color: white;
    margin-top: 30px;
    font-size: 35px;
    i {
      margin: 0 auto;
      justify-content: space-around;
    }
  }
  p {
    margin: 0 auto;
    color: gray;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 12px;
    margin-top: 44px;
  }
}
